@layer root;

@import "root.css" layer(root);

.category-section {
    display: flex;
    flex-direction: column;
    max-width: var(--max-width);
    margin: 2rem auto;
}

.category-section h2 {
    width: 100%;
    text-align: left;
    font-size: 2rem;
    border-bottom: 2px solid black;
    padding-bottom: 1rem;
}

.category-section .flex-container {
    display: flex;
}
