@layer root;

@import "root.css" layer(root);

.category-section {
    display: flex;
    flex-direction: column;
    max-width: var(--max-width);
    margin: 2rem auto;
}

.category-section h2 {
    font-family: var(--font-title);
    font-weight: var(--font-title-weight);
    font-size: var(--font-title-size);
    text-align: left;
    border-bottom: 2px solid;
    padding-bottom: 1rem;
}

.category-section .flex-container {
    display: flex;
}
