@layer root;

@import "root.css" layer(root);

footer {
    border-top: 2px solid;
}

footer .flex-container {
    max-width: var(--max-width);
    display: flex;
    margin: 0 auto;
    padding: 8px 16px;
}

.footer-content {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 2rem;
}

.footer-nav h2 {
    font-family: var(--font-subtitle);
    font-weight: var(--font-subtitle-weight);
    font-size: var(--font-subtitle-size);
}

.footer-nav ul {
    list-style: none;
    padding: 0;
}

.footer-nav li {
    margin-bottom: 0.5rem;
}

.footer-nav a {
    text-decoration: none;
    color: var(--highlight-color);
    font-family: var(--font-captions);
    font-weight: var(--font-captions-weight);
    font-size: var(--font-captions-size);
}

.footer-nav a:hover {
    color: var(--link-hover-color);
}

.footer-newsletter {
    margin-bottom: 1rem;
}

.footer-newsletter h2 {
    font-family: var(--font-subtitle);
    font-weight: var(--font-subtitle-weight);
    font-size: var(--font-subtitle-size);
}

.footer-newsletter form {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.footer-newsletter label {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-family: var(--font-captions);
    font-weight: var(--font-captions-weight);
    font-size: var(--font-captions-size);
}

.footer-newsletter input[type="email"] {
    border-radius: 4px;
    margin-top: 0.25rem;
    padding: 0.5rem 1rem;
    font-family: var(--font-body);
    font-weight: var(--font-body-weight);
    font-size: var(--font-body-size);
}

.footer-newsletter input[type="submit"] {
    align-self: flex-end;
    padding: 0.75rem 1.5rem;
    background: var(--default-font-color);
    color: var(--main-background-color);
    border: none;
    border-radius: 4px;
    transition: var(--simple-transition);
    box-shadow: var(--shadow-vsm);
}

.footer-newsletter input[type="submit"]:hover {
    cursor: pointer;
    background-color: var(--hover-color);
    transform: var(--simple-transform);
    box-shadow: var(--shadow-sm);
}

.footer-socials {
    display: flex;
    margin-left: -0.5rem;
}

.footer-socials .fa-square-twitter,
.footer-socials .fa-square-instagram {
    font-size: 3rem;
    transition: var(--simple-transition);
    box-shadow: var(--shadow-vsm);
}

.footer-socials .fa-square-twitter:hover,
.footer-socials .fa-square-instagram:hover {
    cursor: pointer;
    color: var(--hover-color);
    transform: var(--simple-transform);
    box-shadow: var(--shadow-sm);
}
