:root {
    --max-width: 1280px;

    /* palette */
    --midnight-manuscript: #2E2E4E;
    --regal-quill: #5C2E5C;
    --literature-blue: #3F5461;
    --book-worm: #3E5641;
    --romantic-red: #742C36;

    --bookish-black: #131C26;
    --alabaster: #F2F0EB;

    /* colors */
    --main-background-color: var(--alabaster);
    --primary-color: var(--book-worm);
    --hover-color: var(--midnight-manuscript);
    --highlight-color: var(--literature-blue);
    --link-hover-color: var(--regal-quill);

    /* fonts */
    --default-font-color: var(--bookish-black);

    --font-display: 'Courier New', Courier, monospace;
    --font-display-weight: bold;
    --font-display-size: 40px;

    --font-title-large: Georgia, 'Times New Roman', Times, serif;
    --font-title-large-weight: bold;
    --font-title-large-size: 30px;

    --font-title: Arial, Helvetica, sans-serif;
    --font-title-weight: bold;
    --font-title-size: 25px;

    --font-subtitle: Arial, Helvetica, sans-serif;
    --font-subtitle-weight: bold;
    --font-subtitle-size: 15px;

    --font-body-large: "Comic Sans MS", "Comic Sans", cursive;
    --font-body-large-weight: normal;
    --font-body-large-size: 20px;

    --font-body-strong: Arial, Helvetica, sans-serif;
    --font-body-strong-weight: bold;
    --font-body-strong-size: 16px;

    --font-body: Arial, Helvetica, sans-serif;
    --font-body-weight: normal;
    --font-body-size: 16px;

    --font-captions: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --font-captions-weight: normal;
    --font-captions-size: 11px;

    /* shadows */
    --shadow-sm: 0px 8px 16px rgba(0, 0, 0, 0.16);
    --shadow-vsm: 0px 4px 8px rgba(0, 0, 0, 0.12);

    /* animation */
    --simple-transition: background-color 0.2s ease, transform 0.2s ease, box-shadow 0.2s ease;
    --simple-transform: translateY(-1px);
}

* {
    box-sizing: border-box;
}

html {
    font-family: var(--font-body);
    font-weight: var(--font-body-weight);
    font-size: 62.4%;
    color: var(--default-font-color);
    background-color: var(--main-background-color);
}
